<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá, nome!</title>
</head>
<body>
    <form method="POST" action="/helloname">
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome" />
        <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>